.container {
    min-height: 10vh;
    flex-direction: row;
}

label, button {
    display: block;
}

label {
    margin-top: 10px
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.7rem;
}


.spaceInAddUser {
    margin-top: 20px;
}