.container {
    min-height: 10vh;
    flex-direction: row;
}

label, button {
    display: block;
}

label {
    margin-top: 10px
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.7rem;
}


.spaceInAddUser {
    margin-top: 20px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table thead th {
    background-color: #333;
    color: #FFF;
}

table tr {
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table tr:hover {
    background-color: grey;
    color: #FFF;
}


table th,
table td {
    padding: .625em;
    text-align: center;
}

table td:not(:first-child) {
    border-left: 1px solid #333;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}



@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}