.btnRed {
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, .8);
    background-color: rgb(214, 59, 59);
    padding: 10px;
}

.btnRed:hover {
    color: #FFF;
}



.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    width: var(--spaceBetweenNavAndContent);
    background-color: #FFF;
}

.navbar-infos-user {
    padding: 25px 0;
}

.navbar .avatar {
    margin: 20px 0 10px 0;
}

.navbar-menu-title {
    margin: 20px 0 10px 0;
}

.navbar-link {
    display: block;
    color: inherit;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 0;
    border-top: 1px solid #000;
}

.navbar-link:hover {
    color: #FFF;
    font-weight: inherit;
    background-color: grey;
}


.containerListe {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
}

.containerUser {
    margin-left: var(--spaceBetweenNavAndContent)
}

.formUser {
    margin-top: 50px;
    border: 1px solid #FFF;
    padding: 20px;
    width: 300px;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formUser label:not(:first-child) {
    margin-top: 20px
}

.formUser input, textarea, select {
    width: 100%;
}