.btnRed {
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, .8);
    background-color: rgb(214, 59, 59);
    padding: 10px;
    width: 100%;
}

.btnRed:hover {
    color: #FFF;
}

.logout {
    display: inline-block;
    width: unset;
}



.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--spaceBetweenNavAndContent);
    background-color: #FFF;
}

.navbar-infos-user {
    padding: 25px 0;
    text-align: center;
}

.navbar .avatar {
    margin: 20px 0 10px 0;
}

.navbar-menu-links-title {
    margin: 20px 0 20px 0;
    text-align: center;
}



.navbar-link {
    display: block;
    color: inherit;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 0 20px 20px;
    border-top: 1px solid #000;
}

.navbar-link:hover, .navbar-link-active {
    color: #FFF;
    font-weight: inherit;
    background-color: grey;
}


.containerCard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.containerUser {
    margin-left: calc(var(--spaceBetweenNavAndContent) + 30px);
}

.containerUser.removeSpaceLeft {
    margin-left: var(--spaceBetweenNavAndContent);
}

.formUser {
    margin-top: 10px;
    border: 1px solid #FFF;
    padding: 20px;
    width: 300px;
    overflow: hidden;
}

.formSearch button {
    display: inline-block;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formUser label:not(:first-child) {
    margin-top: 20px
}

.formUser input, textarea, select {
    width: 100%;
}

.formUser.readOnly input, .formUser.readOnly textarea {
    cursor: not-allowed;
}



.iconNavigate {
    /* position: absolute;
    top: 0;
    left: var(--spaceBetweenNavAndContent); */
    margin: 40px;
    font-size: 2.2rem;
    color: inherit;
}

.cardEtablissement {
    margin-top: 20px;
    margin-right: 20px;
    background-color: #FFF;
}


/* Listing */

.titleTable {
    font-size: 2.6rem;
    margin: 30px 0;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table thead th {
    background-color: #333;
    color: #FFF;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
table tr:hover {
    background-color: grey;
    color: #FFF;
}

table .utilisateur {
    cursor: pointer;
}


table th,
table td {
    padding: .625em;
    text-align: center;
}

table td:not(:first-child) {
    border-left: 1px solid #333;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}